.center{
    margin: auto !important;
}
*{
    font-family:Arial, Helvetica, sans-serif
}

#grafica{
    
    max-width: 1100px;  /* Longitud que tendrá la grafica */
}
#grafica2{
    max-width: 850px;
   
}
#grafica3{
    max-width: 1100px;
}
@media print {
    .print_Button{
        display:none;
        
    }
    #exit_Button{
        display:none;
    }
    #exit_Button2{
        display:none;
    }
}
@page {
    size:  auto;   /* auto es el valor inicial */
    margin: 10mm;  /* afecta el margen en la configuración de impresión */
}
