p{
    
    font-weight: bold;
    
}
label{
  text-transform: capitalize;
}

.print_Button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.print_Button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
